
/* website.css */







/* element defaults <3 */
h1 {
    color: white;
}




/* IDs <3 */
#Main-Photo {
    width: 400px;
    border-radius: 50%;


    
}
#Navbar {
    display:flex;

}
#Navbar > * {
    background-color: black;
    margin: 10px;
    padding: 10px;
    
}
#Navbar a {
    text-decoration: none;
    color: white;
}
#Navbar > *:hover {
    background-color: grey;
}